body {
    margin: 0;
    padding: 0;
    background-color: #131423;
}

div {
    position: absolute;
    top: 100px;
    left: 100px;
}

.fadeIn {
    transition: ease-in-out;
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 1s;
}