@font-face {
    font-family: 'Retalic_30_Lt';
    src: url('../fonts/GT-Planar-Retalic-30-Light-Trial.woff2') format('woff2');
}

@font-face {
    font-family: 'Italic_30_Lt';
    src: url('../fonts/GT-Planar-Italic-30-Light-Trial.woff2') format('woff2');
}

@font-face {
    font-family: 'Regular_Lt';
    src: url('../fonts/GT-Planar-Light-Trial.woff2') format('woff2');
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

 ::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(19, 20, 35);
    /* scroll-behavior: smooth; */
    font-size: 100%;
}

h1 {
    /* Da im Vorfeld keine feste Textgröße definiert wurde, richtet sich der Wert von em nach der standardmäßigen Einstellung des genutzten Browsers
    in der Regel 16 Pixel. */
    /* 1em = 16px */
    font-size: 4em;
    color: #84416e;
    font-family: Helvetica, Arial, sans-serif;
    /* font-size: 4vw; */
    font-weight: 600;
    text-align: center;
}

li {
    font-size: 1.3em;
    color: #84416e;
    font-family: Helvetica, Arial, sans-serif;
    /* font-size: 4vw; */
    font-weight: 600;
    text-align: center;
    font-weight: 200;
}


/* Hierüber lassen sich verschiedene Breiten errechnen, an die man die Schriftgröße anpassen möchte */


/* über 1024 Pixel
bis zu 1024 Pixel -> 1024 : 16 = 64em
bis zu 800 Pixel -> 800 : 16 = 50em
bis zu 480 Pixel -> 480 : 16 = 30em */

@media screen and (max-width: 64em) {
    h1 {
        font-size: 2.5em;
        /* line-height: 3em; */
    }
}

@media screen and (max-width: 50em) {
    h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 30em) {
    h1 {
        font-size: 1.5em;
    }
}

.frage {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.einleitung {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 100;
    font-size: 2.5vw;
    font-weight: 400;
    text-align: left;
}

.pattern {
    position: absolute;
    top: 100px;
    left: 100px;
    opacity: 0;
    animation: fade 10s linear;
    animation-iteration-count: infinite;
}

@keyframes fade {
    0% {
        opacity: 0
    }
    10% {
        opacity: 0.8
    }
    50% {
        opacity: 1
    }
    55% {
        opacity: 0.8
    }
    100% {
        opacity: 0
    }
}

.delay0 {
    animation-delay: 0.1s;
}

.delay1 {
    animation-delay: 2s;
}

.delay2 {
    animation-delay: 3s;
}

.delay3 {
    animation-delay: 4s;
}

.delay4 {
    animation-delay: 5s;
}

.delay5 {
    animation-delay: 6s;
}

.delay6 {
    animation-delay: 7s;
}

.delay7 {
    animation-delay: 8s;
}


/* .fadeIn {
    transition: ease-in-out;
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 1s;
} */

@media (max-width: 500px) {
    h1 {
        font-size: 50px !important;
        text-align: left;
    }
    p {
        font-size: 2rem;
    }
}


/* h1 {
    color: #84416e;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 4vw;
    font-weight: 600;
    text-align: center;
} */

p {
    color: #84416e;
    font-family: Helvetica, Arial, sans-serif;
    hyphens: auto;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    justify-content: center;
    text-align: center;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
}

.section {
    scroll-snap-stop: always;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
}

.section_projektbeschreibung {
    scroll-snap-stop: always;
    width: 100vw;
    height: 200vh;
    background-size: cover;
    scroll-snap-align: start;
}

#gradient {
    height: 100%;
    background-color: rgb(19, 20, 35);
    background-image: linear-gradient(to bottom, rgba(19, 20, 35, 0), rgba(255, 255, 255, 1));
}

.menu-bar {
    position: sticky;
    margin: 0;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    height: fit-content;
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    margin: 18px 0 0 0;
}


/* nunig sticky */

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* position: fixed;
    top: 0;
    width: 100%; */
}

.menu-item {
    /* overflow: hidden; */
    border-radius: 25px;
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 40px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}

.menu-item::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: .2s;
    border-radius: 25px;
}

.menu-item:hover {
    background-color: rgba(19, 20, 35);
    box-shadow: 0px 3px 20px 0px rgb(132, 65, 110);
    transform: scale(1.2);
    color: white;
}

.video-container {
    width: 100vh;
    height: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
}

.video-item {
    justify-content: center;
}