@font-face {
    font-family: 'Retalic_30_Lt';
    src: url('../fonts/GT-Planar-Retalic-30-Light-Trial.woff2') format('woff2');
}

@font-face {
    font-family: 'Italic_30_Lt';
    src: url('../fonts/GT-Planar-Italic-30-Light-Trial.woff2') format('woff2');
}

@font-face {
    font-family: 'Regular_Lt';
    src: url('../fonts/GT-Planar-Light-Trial.woff2') format('woff2');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #131423;
}


/* @media (min-width: 30em) {
    html {
        font-size: 125%;
        font-size: calc(0.75rem + 1.5vw);
    }
} */

@media (max-width: 500px) {
    h1 {
        font-size: 50px !important;
        text-align: left;
    }
    p {
        font-size: 2rem;
    }
}

h1 {
    color: #84416e;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 4vw;
    font-weight: 600;
    text-align: center;
}

p {
    color: #84416e;
    font-family: Helvetica, Arial, sans-serif;
    hyphens: auto;
}

.frage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}